.main {
    text-align: center;
    font-family: "Times New Roman";
}

.marq {
    padding-top: 30px;
    padding-bottom: 30px;
}

.geek1 {
    font-size: 36px;
    font-weight: bold;
    color: green;
    text-align: center;
}

.geek2 {
    text-align: center;
}